// Code implements the renum.Coder interface and allows an enum value to self report it's underlying integer ID. This
// primarily was intended to be able to support generic numeric types, but at this time, it's simply an int.
// This method implements the github.com/gen0cide/renum.Coder interface.
func (x {{.EnumID}}) Code() int {
  return int(x)
}
