const (
{{- $vars := dict "lastoffset" 0 -}}
{{ range $rIndex, $value := .Values }}
    {{- $lastOffset := pluck "lastoffset" $vars | first }}{{ $offset := sub $value.Value $rIndex }}
    {{ if eq $value.Pascal "_"}}// Skipped value{{else}}// {{$value.PrefixedPascal}} is an enum value for type {{$.EnumID}}.{{end}}
    {{- if $value.Comment}}
    // {{$value.Comment}}
    {{- end}}
    {{- if $value.Description}}
    // {{$value.Description}}
    {{- end}}
    {{$value.PrefixedPascal}} {{ if eq $rIndex 0 }}{{$.EnumID}} = iota{{ if ne 0 $offset }} + {{ $offset }}{{end}}{{else if ne $lastOffset $offset }}{{$.EnumID}} = iota + {{ $offset }}{{end}}{{$_ := set $vars "lastoffset" $offset}}

{{ end -}}

)