var _{{.EnumID}}Descriptions = {{ mapify . }}

// Description implements the emitter.Detailed interface.
func (x {{.EnumID}}) Description() string {
  if str, ok := _{{.EnumID}}Descriptions[x]; ok {
    return str
  }

  return _{{.EnumID}}Descriptions[{{.EnumID}}(0)]
}