var _{{.EnumID}}Kinds = {{ mapify . }}

// Kind returns a string of the Go type for the given message.
func (x {{.EnumID}}) Kind() string {
  if str, ok := _{{.EnumID}}Kinds[x]; ok {
    return str
  }

  return _{{.EnumID}}Kinds[{{.EnumID}}(0)]
}