var _{{.EnumID}}Sources = {{ mapify . }}

// Source returns an import path directly to the type.
func (x {{.EnumID}}) Source() string {
  if str, ok := _{{.EnumID}}Sources[x]; ok {
    return str
  }

  return _{{.EnumID}}Sources[{{.EnumID}}(0)]
}