// Type implements the renum.Typer interface and allows the {{.EnumID}} to self report the type of value it is.
// This method implements the github.com/gen0cide/renum.Typer interface.
func (x {{.EnumID}}) Type() string {
  return "{{.EnumID}}"
}
