var _{{.EnumID}}ValueSlice = {{ valueify . }}

// {{.EnumID}}Values returns a list of possible enum values for the {{.EnumID}} type.
func {{.EnumID}}Values() []{{.EnumID}} {
  tmp := make([]{{.EnumID}}, len(_{{.EnumID}}ValueSlice))
  copy(tmp, _{{.EnumID}}ValueSlice)
  return tmp
}